<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="quote-container" id="quote">
      <div class="emoji">🚀</div>
      <p class="quote">
        "Meet, connect, collaborate - our meeting app makes it seamless and fun!
        🎉"
      </p>
      <p class="author">Powered by SRK Tech</p>
    </div>
    <div id="bottom-bar">
      <button id="startMeeting">Start Meeting</button>
      <button id="joinMeeting">Join Meeting</button>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
